.avatar-wrapper {
  aspect-ratio: 500 / 375;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.avatar-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
