<div class="row">
  @for (room of rooms$ | async; track room.performerName) {
    <div class="col-6 col-md-4 col-lg-20 performer-card" (click)="goToRoom(room)">
      <div class="image-container mb-1">
        <img [src]="room.assetFilePath | vImageUrl : 350" alt="{{room.performerName}}" loading="lazy" class="img-fluid">
      </div>
      <h3 class="h5">{{room.performerName}}</h3>
      <div class="performer-status"
           [class.active]="room.isRoomOnline">
      </div>
    </div>
  }
</div>
